// font stacks
$sans-serif: "Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$serif: "Droid Serif",
"Georgia",
Cambria,
Times New Roman,
Times,
serif;

$mountains-of-christmas: "Mountains of Christmas",
$sans-serif;